.home {
    padding-top: 3rem;
}

/*.home .countries {}*/

@media (min-width: 768px) {
    .home .countries {
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.home .encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home .encabezado h1 {
    font-size: 5rem;
    margin: 0;
    padding: 0;
}
.home .encabezado .filtros {
    display: flex;
    flex-direction: row;
}

.home .encabezado .filtros .campo {
    margin: 0 0.5rem;
}

.home .encabezado .filtros .campo select {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 0.5rem 0.5rem;
    display: block;
    width: 100%;
    border: 1px solid #6b7280;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.home .encabezado .filtros button {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 0.5rem;
    padding: 1rem 0.5rem;
    color: #fff;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: normal;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    transition-property: all;
    transition-duration: 0.3s;
    text-align: center;
    display: block;
    height: fit-content;
    width: 100%;
}
@media (min-width: 768px) {
    .home .encabezado .filtros button {
        width: auto;
    }
}
.home .encabezado .filtros button:hover {
    background-color: darken(rgba(0, 0, 0, 0.8), 10%);
    box-shadow: 0rem 0rem 0.25rem 0.3rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-weight: bold;
    scale: 1.1;
}
