.paginacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    border-top: 0.2rem double #ffffff;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 3rem 0.5rem;
}
.paginacion .formulario input:not([Type="submit"]) {
    background: rgba(255, 255, 255, 0.01);
    border: none;
    border-radius: 1rem;
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem;
    margin: 0 1rem;
    transition-property: all;
    transition-duration: 0.4s;
}
.paginacion .formulario input:not([Type="submit"]):focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0rem 0rem 0.25rem 0.3rem rgba(255, 255, 255, 0.2);
}
.paginacion .formulario input:not([Type="submit"]):hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0rem 0rem 0.25rem 0.3rem rgba(255, 255, 255, 0.2);
}
.paginacion .formulario input[Type="submit"] {
    background: none;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: transparent;
    font-size: 2rem;
    transition-property: all;
    transition-duration: 0.4s;
}
.paginacion .formulario input[Type="submit"]:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0rem 0rem 0.25rem 0.3rem rgba(255, 255, 255, 0.2);
}
.paginacion .numerador {
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.paginacion .numerador p {
    margin: 0 0.25rem;
}
.paginacion .numerador span {
    margin: 0 0.25rem;
}
.paginacion .arrowContent {
    border: none;
    cursor: pointer;
}
.paginacion .arrowContent svg {
    fill: #ffffff;
    width: 4rem;
    height: 4rem;
    margin: 0 2rem;
    overflow: visible;
}
.paginacion .arrowContent svg polygon,
.paginacion .arrowContent svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
.paginacion .arrowContent svg .arrow {
    animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.paginacion .arrowContent svg .arrowFixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.paginacion .arrowContent svg:hover polygon,
.paginacion .arrowContent svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #ffff00;
}
.paginacion .arrowContent svg:hover .arrow {
    animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.paginacion .arrowContent svg:hover .arrowFixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
