.newTravel {
    padding: 3rem 0 0 0;
}
.newTravel h2 {
    text-align: center;
}
.newTravel .contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
}
.newTravel .contenido .estados {
    padding: 2rem;
}
.newTravel .contenido .estados .alertaEstatus {
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.newTravel .contenido .estados .alertaEstatus.success {
    color: black;
    background-color: rgba(44, 255, 44, 0.5);
}
.newTravel .contenido .estados .alertaEstatus.error {
    color: #140000;
    background-color: rgba(255, 122, 122, 0.5);
}
.newTravel .contenido .formulario {
    border-radius: 2rem;
    padding: 5rem 3rem;
    margin: 1rem auto;
    background-color: rgba(107, 114, 128, 0.3);
    text-align: center;
}
.newTravel .contenido .formulario h3 {
    font-size: 3rem;
}
.newTravel .contenido .formulario .campo {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 2rem;
    margin: 2rem 0;
}
.newTravel .contenido .formulario .campo label {
    text-align: right;
    width: 30%;
    margin-right: 1rem;
}
.newTravel .contenido .formulario .campo .input {
    width: 100%;
}
.newTravel .contenido .formulario .campo .input p {
    text-align: center;
    background: rgba(100, 0, 0, 0.5);
    font-size: 1.5rem;
    margin: 0.75rem 0;
    color: rgb(255, 100, 100);
    border-radius: 1rem;
}
.newTravel .contenido .formulario .campo input:not([type="submit"]),
.newTravel .contenido .formulario .campo select {
    width: 100%;
    color: #ffffff;
    background-color: rgba(107, 114, 128, 0.7);
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    flex: 1;
}
.newTravel .contenido .formulario input[type="submit"] {
    background-color: rgba(15, 81, 153, 0.5);
    padding: 1rem;
    color: #ffffff;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    transition-property: all;
    transition-duration: 0.3s;
    text-align: center;
    display: block;
    width: 100%;
}
@media (min-width: 768px) {
    .newTravel .contenido .formulario input[type="submit"] {
        width: auto;
    }
}
.newTravel .contenido .formulario input[type="submit"]:hover {
    background-color: rgba(10, 56, 107, 0.5);
    box-shadow: 0rem 0rem 0.25rem 0.3rem rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-weight: bold;
    scale: 1.1;
}
.newTravel .contenido .paises {
    margin: 0;
    padding: 1rem;
}
.newTravel .contenido .paises .agregado {
    background-color: rgba(107, 114, 128, 0.3);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newTravel .contenido .paises .agregado .datos {
    display: flex;
}
.newTravel .contenido .paises .agregado .datos p {
    margin: 0 1rem;
}
.newTravel .contenido .paises .agregado .datos p span {
    color: #ffff00;
    border-bottom: 1px solid #ffff00;
}
.newTravel .contenido .paises .agregado .botonEliminar {
    background-color: rgba(198, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition-duration: 0.3s;
}
.newTravel .contenido .paises .agregado .botonEliminar:hover {
    background-color: rgba(122, 0, 0, 0.5);
    cursor: pointer;
}
