@use "../base/variables" as v;
@use "../base/mixins" as m;
.home {
    padding-top: 3rem;
    .encabezado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 5rem;
            margin: 0;
            padding: 0;
        }
        .filtros {
            display: flex;
            flex-direction: row;
            .campo {
                margin: 0 0.5rem;
                select {
                    color: v.$blanco;
                    background-color: v.$negroDegradado;
                    text-align: center;
                    padding: 0.5rem 0.5rem;
                    display: block;
                    width: 100%;
                    border: 1px solid v.$gris;
                    border-radius: 0.5rem;
                    margin-bottom: 1rem;
                }
            }
            button {
                @include m.boton(v.$negroDegradado, v.$blanco);
                margin: 0 0.5rem;
                padding: 1rem 0.5rem;
                height:fit-content;
            }
        }
    }
    .countries {
        @include m.tablet {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }
}
