@use "../base/variables" as v;
@use "../base/mixins" as m;

.itemTravel{
    text-align: center;
    background-color: v.$gris_translucido;
    border-radius: 3rem;
    box-shadow: 0px 0px 17px 5px rgba(v.$blanco,0.2);
    margin: 3rem 0;
    padding: 1.5rem;
    h4{
        font-size: 2.5rem;
        border-bottom: 1px solid;
        margin: 0;
    }
    .dataTravel{
        display: flex;
        p{
            margin: 0 1rem;
            padding: 0.25rem;
            border-bottom: 1px solid;
            span{
                color: v.$amrillo;
            }
        }
    }
}