@use "../base/variables" as v;
@use "../base/mixins" as m;

.newTravel {
    padding: 3rem 0 0 0;
    h2{
        text-align: center;
    }
    .contenido {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .alertaEstatus {
            border-radius: 1rem;
            padding: 1.5reem;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            &.success {
                color: darken(v.$verde, 35%);
                background-color: lighten(rgba(v.$verde, 0.5), 35%);
            }
            &.error {
                color: darken(v.$rojo, 35%);
                background-color: lighten(rgba(v.$rojo, 0.5), 35%);
            }
        }
        .formulario {
            border-radius: 2rem;
            padding: 5rem 3rem;
            margin: 1rem auto;
            background-color: v.$gris_translucido;
            .campo {
                align-items: center;
                color: v.$blanco;
                display: flex;
                font-size: 2rem;
                margin: 2rem 0;
                label {
                    text-align: right;
                    width: 15%;
                    margin-right: 1rem;
                }
                .input {
                    width: 100%;
                    p {
                        text-align: center;
                        background: rgba(v.$rojo, 0.5);
                        margin: 0.2rem;
                        color: v.$negro;
                        border-radius: 1rem;
                    }
                }
                input:not([type="submit"]),
                select {
                    width: 100%;
                    color: v.$blanco;
                    background-color: rgba(v.$gris, 0.7);
                    padding: 0.5rem;
                    border: none;
                    border-radius: 1rem;
                    flex: 1;
                }
            }
            input[type="submit"] {
                @include m.boton(rgba(v.$imperial, 0.5), v.$blanco);
            }
        }
        .paises {
            margin: 0;
            padding: 1rem;
            .agregado {
                background-color: v.$gris_translucido;
                margin: 1rem;
                padding: 1rem;
                border-radius: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    margin: 0 1rem;
                    span{
                        color: v.$amrillo;
                    }
                }
                .botonEliminar{
                    background-color: rgba(v.$rojo, 0.5);
                    border-radius: 1rem;
                    padding: 0.5rem 1rem;
                    margin: 0.5rem;
                    transition-duration: 0.3s;
                    &:hover{
                        background-color: darken(rgba(v.$rojo, 0.5), 15%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
