.containerItem {
    padding: 0.25rem;
}

.containerItem .itemCountry {
    background-color: rgba(107, 114, 128, 0.3);
    border-radius: 3rem;
    box-shadow: 0px 0px 17px 5px rgba(255,255,255, 0.2);
    margin: 0.5rem auto;
    padding: 1rem;
    text-align: center;
    height: min-content;
    width: min-content;
}

.containerItem .itemCountry a {
    color: #FFFFFF;
}

.containerItem .itemCountry a h3 {
    font-size: 2.25rem;
    margin: 0.5rem 0;
    width: 25rem;
}
.containerItem .itemCountry .bandera {
    height: 8rem;
    width: 16rem;
    margin: 0.5rem auto;
}

.containerItem .itemCountry .bandera picture {
    height: 100%;
    width: 100%;
}

.containerItem .itemCountry .bandera picture img {
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
}
.containerItem .itemCountry p {
    margin: 1rem 0;
}
