.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.landing .titulo {
    padding: 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
}

.landing .titulo h1 {
    color: #59759d;
    margin: 0;
}
.landing .titulo p {
    color: #59759d;
    margin: 0;
}

.landing .botones {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10rem;
    width: 100%;
}

.landing .botones .btn {
    background-color: rgba(0, 0, 0, 0);
    padding: 1rem;
    color: #59759d;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: normal;
    font-size: 2.5rem;
    border: 1px solid #59759d;
    border-radius: 0.5rem;
    transition-property: all;
    transition-duration: 0.3s;
    text-align: center;
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .landing .botones .btn {
        width: auto;
    }
}

.landing .botones .btn:hover {
    background-color: darken(rgba(0, 0, 0, 0), 10%);
    box-shadow: 0rem 0rem 0.25rem 0.3rem rgba(89, 117, 157, 0.5);
    cursor: pointer;
    font-weight: bold;
    scale: 1.1;
}
