.itemTravel {
  text-align: center;
  background-color: rgba(107, 114, 128, 0.3);
  border-radius: 3rem;
  box-shadow: 0px 0px 17px 5px rgba(255, 255, 255, 0.2);
  margin: 3rem 0;
  padding: 1.5rem;
}
.itemTravel h4 {
  font-size: 2.5rem;
  border-bottom: 1px solid;
  margin: 0;
}
.itemTravel .dataTravel {
  display: flex;
}
.itemTravel .dataTravel p {
  margin: 0 1rem;
  padding: 0.25rem;
  border-bottom: 1px solid;
}
.itemTravel .dataTravel p span {
  color: #ffff00;
}
