@use "variables" as v;

*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
}
#root{
    background-color: v.$negroDegradado;
    min-height: 100vh;
}
.land {
    background: url(../../img/landing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.count {
    background: url(../../img/bg_Countries.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
}
.botones {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 2rem;
    width: 100%;
}
.unShow{
    display: none;
}
.show{
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
