header {
    border-bottom: 0.2rem solid #ffff00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

header .log {
}

header .log a {
    display: flex;
    align-items: center;
}

header .log a picture {
    height: 5rem;
    margin: 1.5rem;
}

header .log a picture img {
    width: 100%;
    height: 100%;
}
header .log a h2 {
    font-style: italic;
    border-bottom: 0.5rem solid #ffffff;
    margin: 0;
    padding: 0;
}
header .nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header .nav nav {
    display: flex;
}

header .nav nav .btn {
    background-color: rgba(107, 114, 128, 0.3);
    padding: 1rem;
    margin: 0 0.5rem;
    color: #ffffff;
    font-size: 1.6rem;
    font-style: italic;
    display: inline-block;
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    transition-property: all;
    transition-duration: 0.3s;
    text-align: center;
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    header .nav nav .btn {
        width: auto;
    }
}

header .nav nav .btn:hover {
    background-color: darken(rgba(107, 114, 128, 0.3), 10%);
    box-shadow: 0rem 0rem 0.25rem 0.3rem rgba(107, 114, 128, 0.5);
    cursor: pointer;
    font-weight: bold;
    scale: 1.1;
}
